<launch>
	<master auto="start" />
	<group ns="lcm_to_ros">
		<node pkg="lcm_to_ros" type="ODOMETRY_republisher" respawn="false" name="ODOMETRY_republisher" output="screen"/>
		<node pkg="lcm_to_ros" type="MBOT_MOTOR_COMMAND_republisher" respawn="false" name="MBOT_MOTOR_COMMAND_republisher" output="screen"/>
	</group>
	<node pkg="slos_bot" type="slos_bot_node" name="slos_bot_node"/>
</launch>
